body {
	margin:0;
	padding:0;
}

.bodyMenu{
	width: 95%;
	margin : 10px
}
.fenView{
  border-radius: 5px;
  border: 2px solid #000;
font-size: 10px;
margin-left:10px;
margin-right:10px;
padding: 10px;

  margin-top: 20px;
  font-family: monospace;
  font-weight: bold;
}
button {
  background: black;
  color:white;
  width: 23%;
  border-radius: 5px;
  height: 50px;
  border: 2px solid #000;
  margin: 2px;
  font-weight: bold;
  font-size: 12px;
  font-family: monospace;
}


.pgnView {
  border-radius: 5px;
  border: 2px solid #000;
  min-height: 100px;
  padding:10px;
  margin: 10px;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
}
.optionMenu {
	width:100%;
  margin: 2px 8px;
}

.optionMenu button {
  color: white;
  font-family: monospace;
  font-weight: bold;
  width: 23%; 
  margin: 0px 2px;
  height: 50px;
  font-size: 10px;
  background: #000;
  border: none;
  border-radius: 5px;
}
