body {
  margin: 0;
  padding: 0;
}

.bodyMenu {
  width: 95%;
  margin: 10px
}

.fenView {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #DAD6D6;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;

  margin-top: 20px;
  font-family: monospace;
  font-weight: bold;
}

.buttonMenu {
  width: 100%;
  margin: 2px 8px;
}

button {
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #DAD6D6;
  color: black;
  width: 23%;
  border-radius: 5px;
  height: 50px;
  /*border: 0;*/
  margin: 2px;
  font-weight: bold;
  font-size: 12px;
  font-family: monospace;
}

.pgnView {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #DAD6D6;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
}

.optionMenu {
  width: 100%;
  margin: 2px 8px;
}

.optionMenu button {
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #DAD6D6;
  color: black;
  font-family: monospace;
  font-weight: bold;
  width: 23%;
  margin: 0px 2px;
  height: 50px;
  font-size: 10px;
  border-radius: 5px;
}

@media (min-width : 768px) {
  .optionMenu button {
    font-size: 14px;
  }

  .pgnView {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  .fenView {
    font-size: 14px;
  }

  .bodyMenu {
    width: 99%;
  }

}
